body {
    background-image: url("../images/asset.jpg");
}

.message-color {
	color: white;
}

#message1 {
	text-align: center;
    font-size: 200%;
}

#message2 {
	text-align: center;
    font-size: 250%;
}

#content-under {
	height: 100px;
	background-color: gray;
}